<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Staff Member 2</title>
	<base href=".."></base>
	<link href="styles/main.css" rel="stylesheet">
</head>
<body>
	<div class="person-page">
		<i class="icon-cross person-close"></i>

		<p class="person-name">Kim Reyes</p>
		<p class="person-role">Technical support</p>

		<div class="content">
			<div class="person-photo">
				<img alt="" src="images/staff/image2.jpg">
			</div>
			
			<h5>Many desktop publishing</h5>
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
			<h5>Adriana’s skills</h5>
			<div class="skills-block">
				<article data-percent="90">
					<p>Photoshop</p>
				</article>
				<article data-percent="45">
					<p>Microsoft Paint</p>
				</article>
				<article data-percent="63">
					<p>Sublime Text</p>
				</article>
				<article data-percent="50">
					<p>Photoshop</p>
				</article>
			</div>
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
		</div>
	</div>
</body>
</html>