@import "compass/css3/images";
@import "compass/css3/flexbox";
@import "compass/css3/user-interface";

$base: 18;
$base-font-size: 18px;
$base-line-height: 21.6px; // 1.2

$green: #43dfba;
$grid: 960px;

@function em($pixels, $context: $base) {
  // @return #{$pixels/$context}em;
  @return #{$pixels}px;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-ms-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-ms-transform: $args;
	transform: $args;
}


@import url(../fonts/firasans.css);
@import url(chosen.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@import "basics";
@import "svg";
@import "sections";
@import "forms";
@import "media";
@import "animations";

@import "debug";