<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Moonlight - Blog Category</title>

	<link rel="stylesheet" href="styles/pe-icon-7-filled.css">
	<link rel="stylesheet" href="styles/font-awesome.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body class="blog">
	<hr class="thumb">
	<hr class="grab-overlay">
	<hr class="background">

	<div class="page-preloader" data-preloader="3">
		<p class="page-preloader-text">Loading <mark>blog page</mark></p>
	</div>

	<div class="menu">
		<div class="menu-inner">
			<nav>
				<a href="../demo-white/#slider">Main Slider</a>
				<a href="../demo-white/#features">Features</a>
				<a href="../demo-white/#text">Text content</a>
				<a href="../demo-white/#portfolio">Portfolio</a>
				<a href="../demo-white/#app">Mobile App</a>
				<a href="../demo-white/#staff">Our Staff</a>
				<a href="../demo-white/#stats">Statistics</a>
				<a href="../demo-white/#posts">Blog Links</a>
				<a href="../demo-white/#contacts">Contacts</a>
				<a href="blog-posts.html">Blog Page</a>
			</nav>
		</div>
		<div class="divider"><hr><hr><hr></div>
	</div>

	<div class="page">
		<section class="blog-header">
			<canvas class="parallax-item" data-src="images/main10.jpg" data-crop-position="0.45 -0.7"></canvas>

			<div class="blog-header-stripe">
				<div class="content grid-width">
					<h2>Blog <mark>Company</mark></h2>
					<div class="blog-logo">
						<img alt="" class="@2x-available" src="images/blog/logo.png" height="110" width="163">
					</div>
				</div>
			</div>
			<div class="blog-header-bar">
				<div class="content grid-width">
					<div class="breadcrumbs">
						<mark>You are in: </mark>
						<a href="">Home</a>
						<a href="">Blog</a>
						<a href="">Category</a>
						<a href="">Lorem</a>
						<a>Ipsum</a>
					</div>
					<form class="search-field">
						<a href="#" class="search-action"></a>
						<input type="search" name="query" autocomplete="off" placeholder="Search content...">
					</form>
				</div>
			</div>
		</section>

		<section class="blog-page grid-width" data-background="images/blog/background.jpg">
			<div class="blog-content">
				<article class="post animation-fadedown">
					<div class="post-meta">
						<p class="post-date">
							<span class="date-num">08</span>nov 2015
						</p>
						<p class="post-likes">
							<a class="like-button">
								<i class="icon-heart"></i>
							</a>
							<span>1368</span>
						</p>
					</div>

					<div class="post-preview">
						<article>
							<img alt="" src="images/blog/post0.jpg" >
						</article>
					</div>

					<div class="post-header">
						<h3>Lorem ipsum is simply <mark>dummy text</mark></h3>
					</div>

					<ul class="post-details">
						<li>
							<i class="icon-author"></i> By: <span>Christopher Smith</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>132</span>
						</li>
					</ul>

					<div class="post-content">
						<div class="text formatted-text">
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure <a href="http://google.com/">Latin words, consectetur</a>, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
							<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Ciceеro, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
							<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
							<a href="blog-single.html" class="button">Details</a>
						</div>
					</div>
				</article>

				<article class="post animation-fadedown">
					<div class="post-meta">
						<p class="post-date">
							<span class="date-num">02</span>nov 2015
						</p>
						<p class="post-likes">
							<a class="like-button">
								<i class="icon-heart"></i>
							</a>
							<span>352</span>
						</p>
					</div>

					<div class="post-preview">
						<article>
							<div class="video youtube" data-youtube="Jh-wJKY9JwY"></div>
						</article>
					</div>

					<div class="post-header">
						<h3>Suspendisse nulla <mark>lacus accumsan</mark></h3>
					</div>

					<ul class="post-details">
						<li>
							<i class="icon-author"></i> By: <span>John Smith</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>76</span>
						</li>
					</ul>

					<div class="post-content">
						<div class="text formatted-text">
							<p>Pellentesque finibus libero vel nisl placerat dictum. Vestibulum tincidunt odio ut sapien posuere porttitor at et tortor. Curabitur commodo augue id ex lobortis tincidunt. Proin quam sapien, condimentum nec congue porta, porta ac nulla. Integer ut facilisis orci, a malesuada leo. Donec maximus elit eget quam hendrerit commodo. Pellentesque molestie vitae nulla ut elementum.</p>
							<p>Praesent sodales lectus tortor, sit amet vestibulum neque pharetra ac. Suspendisse potenti. Cras dictum facilisis lorem sed efficitur. Ut luctus ligula quis lacus ullamcorper luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus euismod tellus sed mi dapibus imperdiet. <a href="#">Proin congue</a> facilisis nunc quis interdum. Curabitur in scelerisque enim. Vivamus sagittis justo vel pellentesque gravida. Curabitur nec luctus sapien, at gravida libero. Nunc velit risus, auctor ut mi vel, iaculis ultrices erat. Donec eget congue felis.</p>
							<a href="blog-single.html" class="button">Details</a>
						</div>
					</div>
				</article>

				<article class="post animation-fadedown">
					<div class="post-meta">
						<p class="post-date">
							<span class="date-num">27</span>oct 2015
						</p>
						<p class="post-likes">
							<a class="like-button">
								<i class="icon-heart"></i>
							</a>
							<span>1081</span>
						</p>
					</div>

					<div class="post-preview">
						<article>
							<img alt="" src="images/blog/post4.jpg" >
						</article>
					</div>

					<div class="post-header">
						<h3><mark>Maecenas</mark> feugiat ligula</h3>
					</div>

					<ul class="post-details">
						<li>
							<i class="icon-author"></i> By: <span>John Smith</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Entertainment</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>209</span>
						</li>
					</ul>

					<div class="post-content">
						<div class="text formatted-text">
							<p>Quisque sagittis diam elit, non lacinia nibh porta in. Quisque at metus magna. Nullam rutrum ultricies fermentum. Suspendisse condimentum in orci eget suscipit. Mauris hendrerit porttitor lorem, ac porta turpis gravida id. Phasellus id porta felis, non rutrum elit. Donec id auctor ligula, gravida facilisis odio. Fusce dignissim convallis orci, vel semper ante tincidunt a. Nulla sollicitudin dolor justo, non vehicula eros pulvinar sed. Nullam sagittis, enim ac malesuada hendrerit, elit justo aliquam nisl, in facilisis risus augue non sapien. Sed sed nisl justo. Sed quis sagittis lectus.</p>
							<a href="blog-single.html" class="button">Details</a>
						</div>
					</div>
				</article>

				<article class="post animation-fadedown">
					<div class="post-meta">
						<p class="post-date">
							<span class="date-num">25</span>oct 2015
						</p>
						<p class="post-likes">
							<a class="like-button">
								<i class="icon-heart"></i>
							</a>
							<span>753</span>
						</p>
					</div>

					<div class="post-preview">
						<article>
							<img alt="" src="images/blog/post1.jpg" >
						</article>
						<article>
							<img alt="" src="images/blog/post3.jpg" >
						</article>
						<article>
							<img alt="" src="images/blog/post2.jpg" >
						</article>
					</div>

					<div class="post-header">
						<h3>Maecenas <mark>enim posuere</mark></h3>
					</div>

					<ul class="post-details">
						<li>
							<i class="icon-author"></i> By: <span>John Smith</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Entertainment</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>58</span>
						</li>
					</ul>

					<div class="post-content">
						<div class="text formatted-text">
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure <a href="http://google.com/">Latin words, consectetur</a>, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
							<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Ciceеro, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
							<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
							<a href="blog-single.html" class="button">Details</a>
						</div>
					</div>
				</article>
				
				<div class="pagination">
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">...</a>
					<a href="#">11</a>
				</div>
			</div>
			<div class="blog-sidebar">
				<div class="widget-block animation-fadedown">
					<h5>Best <mark>categories</mark></h5>
					<div class="sidebar-links">
						<a href="#">Entertainment</a>
						<a href="#">Fun</a>
						<a href="#">Journal</a>
						<a href="#">Places</a>
						<a href="#">Travel</a>
						<a href="#">Entertainment</a>
						<a href="#">Cats</a>
						<a href="#">Stories</a>
					</div>
				</div>

				<div class="widget-block animation-fadedown">
					<h5><mark>Post</mark> collections</h5>
					<div class="sidebar-links">
						<a href="#">Entertainment - 2015</a>
						<a href="#">Fun - 2014</a>
						<a href="#">Journal - 2011</a>
					</div>
				</div>

				<div class="widget-block animation-fadedown">
					<h5>Recent <mark>posts</mark></h5>
					<div class="sidebar-posts">
						<article>
							<div class="preview">
								<img alt="" src="images/blog/post-link0.jpg">
							</div>
							<a href="#">Lorem Ipsum is simply dummy text of the printing</a>
							<ul class="sidebar-post-meta">
								<li><i class="icon-calendar-small"></i>27 oct. 2015</li>
								<li><i class="icon-comments-small"></i>217 comments</li>
							</ul>
						</article>
						<article>
							<div class="preview">
								<img alt="" src="images/blog/post-link1.jpg">
							</div>
							<a href="#">Lorem ipsum has been the industry's standart dummy</a>
							<ul class="sidebar-post-meta">
								<li><i class="icon-calendar-small"></i>03 march 2015</li>
								<li><i class="icon-comments-small"></i>114 comments</li>
							</ul>
						</article>
						<article>
							<div class="preview">
								<img alt="" src="images/blog/post-link2.jpg">
							</div>
							<a href="#">It has survived not only five centuries, but also</a>
							<ul class="sidebar-post-meta">
								<li><i class="icon-calendar-small"></i>13 sept. 2015</li>
								<li><i class="icon-comments-small"></i>32 comments</li>
							</ul>
						</article>
						<article>
							<div class="preview">
								<img alt="" src="images/blog/post-link3.jpg">
							</div>
							<a href="#">It has survived not only five centuries, but also</a>
							<ul class="sidebar-post-meta">
								<li><i class="icon-calendar-small"></i>23 dec. 2015</li>
								<li><i class="icon-comments-small"></i>82 comments</li>
							</ul>
						</article>
					</div>
				</div>

				<div class="widget-block animation-fadedown">
					<h5>Recent <mark>photos</mark></h5>
					<div class="sidebar-gallery">
						<article>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb0.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb1.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb2.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb3.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb4.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb5.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb6.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb7.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb8.jpg">
							</a>
						</article>
						<article>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb0.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb1.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb2.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb3.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb4.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb5.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb6.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb7.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb8.jpg">
							</a>
						</article>
						<article>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb0.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb1.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb2.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb3.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb4.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb5.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb6.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb7.jpg">
							</a>
							<a href="" class="photo-link">
								<img alt="" src="images/blog/sidebar-thumb8.jpg">
							</a>
						</article>
					</div>
				</div>

				<div class="widget-block animation-fadedown">
					<h5><mark>Skills</mark> widget</h5>
					<div class="sidebar-skills">
						<article data-percent="83">
							<p>Photoshop</p>
						</article>
						<article data-percent="34">
							<p>Illustrator</p>
						</article>
						<article data-percent="100">
							<p>InDesign</p>
						</article>
						<article data-percent="64">
							<p>After Effects</p>
						</article>
					</div>
				</div>

				<div class="widget-block animation-fadedown">
					<h5>Slider <mark>widget</mark></h5>
					<div class="sidebar-slider">
						<article>
							<img alt="" src="images/blog/slider0.jpg">
							<p>Lorem <mark>Ipsum used</mark></p>
							<p>Lorem Ipsum comes from</p>
						</article>
						<article>
							<img alt="" src="images/blog/slider1.jpg">
							<p>Something</p>
							<p>Lorem <mark>Ipsum used</mark></p>
						</article>
						<article>
							<img alt="" src="images/blog/slider2.jpg">
							<p>Lorem <mark>used</mark></p>
							<p>Lorem Ipsum from</p>
						</article>
						<article>
							<img alt="" src="images/blog/slider0.jpg">
							<p><mark>Ipsum used</mark> lorem</p>
							<p>Ipsum comes from</p>
						</article>
						<article>
							<img alt="" src="images/blog/slider1.jpg">
							<p>Lorem <mark>Ipsum used</mark></p>
						</article>
					</div>
				</div>
			</div>
		</section>

		<section class="footer-block">
			<div class="content grid-width">
				<div class="column">
					<h4>About Latin</h4>
					<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.<br><br>text ever since the 1500s, when an unknown printer took a galley of type.</p>
					<a href="">Read More...</a>
					<div class="social-media">
						<a href="">
							<i class="fa fa-pinterest"></i>
						</a>
						<a href="">
							<i class="fa fa-github"></i>
						</a>
						<a href="">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="">
							<i class="fa fa-youtube"></i>
						</a>
						<a href="">
							<i class="fa fa-openid"></i>
						</a>
						<a href="">
							<i class="fa fa-html5"></i>
						</a>
						<a href="">
							<i class="fa fa-jsfiddle"></i>
						</a>
					</div>
				</div>
				<div class="column">
					<h4>College in Virginia</h4>
					<div class="list-footer">
						<article>
							<a href="http://google.com/">Content here, content here, maki ng look like readable</a>
						</article>
						<article>
							<a href="http://google.com/">Virginia, looked up one of the more obscure</a>
						</article>
						<article>
							<a href="http://google.com/">All the Lorem Ipsum generators on the Internet</a>
						</article>
						<article>
							<a href="http://google.com/">All the Lorem Ipsum generators on the Internet</a>
						</article>
					</div>
				</div>
				<div class="column gallery-column">
					<h4>Finibus Bonorum</h4>
					<div class="gallery-footer">
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image0.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image1.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image2.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image3.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image4.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image5.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image6.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image7.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image8.jpg"></a>
					</div>
				</div>
				<div class="column">
					<h4>Finibus Bonorum</h4>
					<div class="list-footer">
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/location.png" height="19" width="16">
							Building 83 2010 NE 32th Street Redmond, WA 54052
						</article>
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/phone.png" height="20" width="18">
							<a href="tel:1-888-7962368">1-888-796-2368</a>
							<a href="tel:1-888-1275252">1-888-127-5252</a>
						</article>
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/mail.png" height="13" width="18">
							<a href="mailto:support@company.com">support@company.com</a>
							<a href="mailto:company.name@gmail.com">company.name@gmail.com</a>
						</article>
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/community.png" height="19" width="16">
							Sofa audiam urbanitas, facilisis constituam 8:00 am - 21:00 pm
						</article>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="content grid-width">
				<div class="footer-links">
					<a href="../demo-white/#slider">Main</a>
					<a href="../demo-white/#features">Features</a>
					<a href="../demo-white/#portfolio">Portfolio</a>
					<a href="../demo-white/#app">App</a>
					<a href="../demo-white/#stats">Stats</a>
					<a href="../demo-white/#posts">Posts</a>
					<a href="blog-posts.html">Blog</a>
				</div>
				<p>Copyright © 2016 Lumejio Team</p>
			</div>
		</footer>
	</div>

	<script src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//a.vimeocdn.com/js/froogaloop2.min.js"></script>
	<script src="scripts/core.min.js"></script>
</body>
</html>