<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Moonlight - Onepage Parallax Template</title>

	<link rel="stylesheet" href="styles/pe-icon-7-filled.css">
	<link rel="stylesheet" href="styles/font-awesome.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<hr class="thumb">
	<hr class="grab-overlay">
	<hr class="background">

	<div class="page-preloader" data-preloader="1">
		<p class="page-preloader-text">Loading <mark>template</mark></p>
	</div>

	<div class="menu">
		<div class="menu-inner">
			<nav>
				<a href="#slider">Main Slider</a>
				<a href="#features">Features</a>
				<a href="#text">Text content</a>
				<a href="#portfolio">Portfolio</a>
				<a href="#app">Mobile App</a>
				<a href="#staff">Our Staff</a>
				<a href="#stats">Statistics</a>
				<a href="#posts">Blog Links</a>
				<a href="#contacts">Contacts</a>
				<a href="blog-posts.html">Blog Page</a>
			</nav>
		</div>
		<div class="divider"><hr><hr><hr></div>
	</div>

	<div class="page">
		<section class="main" data-name="slider">
			<canvas class="main-parallax"></canvas>
			<div class="main-slides">
				<article class="image" data-src="images/main10.jpg" data-crop-position="0.45 -0.7">
					<h2><span class="animation-fadeup">The</span> <mark class="animation-fadedown">Moonlight</mark></h2>
				</article>
				<article class="image" data-src="images/main7.jpg" data-crop-position="0.45 0">
					<h2>Creative <mark>template</mark></h2>
				</article>
				<article class="image" data-src="images/main2.jpg" data-crop-position="0.2 -1">
					<h2>Multi <mark>purpose</mark></h2>
				</article>
				<article class="image" data-src="images/main0.jpg" data-crop-position="0.4 -0.85">
					<h2>Modern <mark>design</mark></h2>
				</article>
				<article class="image" data-src="images/main6.jpg" data-crop-position="0.1 -1">
					<h2><mark>Fullscreen</mark> slider</h2>
				</article>
			</div>
			<div class="content">
				<img alt="" class="logo @2x-available animation-fadeup" data-animation-delay="1650" src="images/logo.png" height="132" width="114">
				<h3 class="logo-caption animation-fadeup" data-animation-delay="1500">Lumejio Team</h3>

				<div class="main-parallax-headers"></div>

				<div class="togglers animation-fadedown" data-animation-delay="1500"></div>
				<p class="subheader animation-fadedown" data-animation-delay="1650">Moonlight is a <mark>creative one page</mark> template</p>
				<p class="text animation-fadedown" data-animation-delay="1800">The template was designed for studios, creative agencies, photographs, app showcases but it generally still is a multi-purpose solution, it’s very versatile</p>

				<canvas class="slide-down-button animation-fadedown" data-animation-delay="1950"></canvas>
			</div>
		</section>

		<section class="custom" data-name="features" data-background="images/background0.jpg">
			<div class="section-header animation-fadedown">
				<h4>Quality is not an act, it is a habit</h4>
				<div class="separator-diamond"></div>
				<p>Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful</p>
			</div>

			<div class="icons-block">
				<article>
					<div class="round-icon animation-fadezoomout" data-animation-delay="100">
						<i data-animation-delay="500" class="animation-fadezoom pe-7f-paint-bucket"></i>
					</div>
					<div class="animation-fadedown" data-animation-delay="550">
						<h4>Unlimited colors</h4>
						<p class="text">How many cares one loses when one decides not to be something but to be someone</p>
					</div>
				</article>
				<article>
					<div class="round-icon animation-fadezoomout" data-animation-delay="100">
						<i data-animation-delay="500" class="animation-fadezoom pe-7f-target"></i>
					</div>
					<div class="animation-fadedown" data-animation-delay="550">
						<h4>Complete solution</h4>
						<p class="text">Nature gives you the face you have at twenty; it is up to you to merit the face you have at fifty</p>
					</div>
				</article>
				<article>
					<div class="round-icon animation-fadezoomout" data-animation-delay="100">
						<i data-animation-delay="500" class="animation-fadezoom pe-7f-eyedropper"></i>
					</div>
					<div class="animation-fadedown" data-animation-delay="550">
						<h4>Styles constructor</h4>
						<p class="text">Success is often achieved by those who don't know that failure is inevitable</p>
					</div>
				</article>
				<article>
					<div class="round-icon animation-fadezoomout" data-animation-delay="100">
						<i data-animation-delay="500" class="animation-fadezoom pe-7f-hourglass"></i>
					</div>
					<div class="animation-fadedown" data-animation-delay="550">
						<h4>Good performance</h4>
						<p class="text">Some people think luxury is the opposite of poverty. It is not. It is the opposite of vulgarity</p>
					</div>
				</article>
			</div>
		</section>

		<section class="parallax-block">
			<canvas class="parallax-item" data-src="images/parallax2.jpg" data-crop-position="-0.62 -0.7"></canvas>
			<div class="quotes-rotator">
				<div class="circular-icon">
					<i class="icon-quote"></i>
				</div>
				<h3>What people say</h3>

				<hr class="separator">
				<div class="quotes">
					<article>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it</article>
					<article>My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style</article>
					<article>Today I choose life. Every morning when I wake up I can choose joy, happiness, negativity, pain... To feel the freedom that comes from being able to continue to make mistakes and choices - today I choose to feel life, not to deny my humanity but embrace it</article>
					<article>When you get into a tight place and everything goes against you, till it seems as though you could not hang on a minute longer, never give up then, for that is just the place and time that the tide will turn</article>
					<article>I believe in pink. I believe that laughing is the best calorie burner. I believe in kissing, kissing a lot. I believe in being strong when everything seems to be going wrong. I believe that happy girls are the prettiest girls. I believe that tomorrow is another day and I believe in miracles</article>
				</div>
				<hr class="separator separator-bottom">

				<div class="arrow-prev"></div><div class="arrow-next"></div>
				<div class="togglers"></div>
			</div>
		</section>

		<section class="custom" data-name="text" data-background="images/background4.jpg">
			<div class="section-header">
				<h4>Today you can improve all your tomorrows</h4>
				<div class="separator-diamond"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eieeusmod tempor ut enim ad eminim veniam, quis nostrud exercitation</p>
			</div>

			<div class="content-block">
				<div class="aside-image imac-frame animation-fadedown">
					<img alt="" src="images/imac-image.jpg">
				</div>

				<h3>Placerat <mark>elit conubia</mark></h3>
				<p class="text large-leading">Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy</p>
				<ul class="fold-list">
					<li>
						<h5>On the other hand, we denounce with righteous</h5>
						<p class="text">Pursue pleasure rationally tencounter consequences. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a mplete uilder of huma" happis. pleasure, but because those who do not know how to pursue pleasure rationally tencounter consequences</p>
					</li>
					<li>
						<h5>It has survived not only five centruries</h5>
						<p class="text">All this mistaken idea of denouncing pleasure and praising pain was born and I will give you a mplete uilder of huma" happis. pleasure, but because those who do not know how to pursue pleasure rationally tencounter consequences</p>
					</li>
					<li>
						<h5>Contrary to popular belief, lorem ipsum is not simply</h5>
						<p class="text">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a mplete uilder of huma" happis. pleasure, but because those who do not know how to pursue pleasure rationally tencounter consequences""uilder of huma" happis. pleasure, but because those who do not know how to pursue pleasure rationally tencounter consequences</p>
					</li>
					<li>
						<h5>But I must explain to you how all this mistaken</h5>
						<p class="text">"Builder of huma" happis. pleasure, but because those who do not know how to pursue pleasure rationally tencounter consequences"</p>
					</li>
					<li>
						<h5>Lorem Ipsum is that it has a more or less normal</h5>
						<p class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a mplete uilder of huma" happis. pleasure, but because those who do not know how to pursue pleasure rationally tencounter consequences</p>
					</li>
				</ul>
				<p class="text large-leading">The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence</p>
				<a class="button">Read more</a>
			</div>
		</section>

		<!-- <section class="portfolio" data-name="portfolio">
			<div class="portfolio-filter">
				<hr class="portfolio-filter-active">
				<a data-filter="all">No filter</a>
				<a data-filter="random">Best</a>
				<a data-filter="simply">Favorites</a>
				<a data-filter="ipsum">Lorem</a>
				<a data-filter="lorem">Ipsum</a>
			</div>
			<div class="portfolio-preview">
				<article data-filter="ipsum random lorem" data-media="photo" data-url="portfolio/item6.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb6.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Contrary to popular belief</h5>
						<p>Lorem ipsum is simply</p>
					</div>
				</article>
				<article data-filter="ipsum random simply lorem" data-media="photo" data-url="portfolio/item2.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb2.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Curabitur non metus</h5>
						<p>Fusce luctus tincidunt turpis</p>
					</div>
				</article>
				<article data-filter="ipsum random" data-media="photo" data-url="portfolio/item16.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb16.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Donec congue</h5>
				
						<p>Sed interdum venenatis</p>
					</div>
				</article>
				
				<article data-filter="ipsum lorem simply" data-media="photo" data-url="portfolio/item8.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb8.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Vestibulum ante ipsum</h5>
						<p>Nam venenatis vulputate</p>
					</div>
				</article>
				<article data-filter="lorem simply" data-media="photo" data-url="portfolio/item20.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb20.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Donec congue</h5>
						<p>Sed interdum venenatis</p>
					</div>
				</article>
				<article data-filter="" data-media="photo" data-url="portfolio/item9.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb9.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Phasellus magna dolor</h5>
						<p>Vestibulum quis porttitor felis</p>
					</div>
				</article>

				<article data-filter="lorem simply" data-media="photo" data-url="portfolio/item11.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb11.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Pellentesque habitant morbi</h5>
						<p>Quisque posuere sem</p>
					</div>
				</article>
				<article data-filter="lorem ipsum random" data-media="photo" data-url="portfolio/item15.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb15.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Phasellus magna dolor</h5>
						<p>Vestibulum quis porttitor felis</p>
					</div>
				</article>
				<article data-filter="simply random" data-media="photo" data-url="portfolio/item3.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb3.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Phasellus magna dolor</h5>
						<p>Vestibulum quis porttitor felis</p>
					</div>
				</article>

				<article data-filter="ipsum random" data-media="photo" data-url="portfolio/item0.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb0.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Contrary to popular belief</h5>
						<p>Lorem ipsum is simply</p>
					</div>
				</article>
				<article data-filter="lorem" data-media="photo" data-url="portfolio/item5.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb5.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Pellentesque habitant morbi</h5>
						<p>Quisque posuere sem</p>
					</div>
				</article>
				<article data-filter="ipsum simply" data-media="photo" data-url="portfolio/item4.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb4.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Donec congue</h5>
						<p>Sed interdum venenatis</p>
					</div>
				</article>

				<article data-filter="simply random" data-media="photo" data-url="portfolio/item7.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb7.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Vestibulum ante ipsum</h5>
						<p>Nam venenatis vulputate</p>
					</div>
				</article>
				<article data-filter="ipsum simply" data-media="photo" data-url="portfolio/item19.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb19.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Curabitur non metus</h5>
						<p>Fusce luctus tincidunt turpis</p>
					</div>
				</article>
				<article data-filter="random lorem" data-media="photo" data-url="portfolio/item18.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb18.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Contrary to popular belief</h5>
						<p>Lorem ipsum is simply</p>
					</div>
				</article>

				<article data-filter="ipsum lorem simply" data-media="photo" data-url="portfolio/item14.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb14.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Curabitur non metus</h5>
						<p>Fusce luctus tincidunt turpis</p>
					</div>
				</article>
				<article data-filter="lorem" data-media="photo" data-url="portfolio/item12.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb12.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Contrary to popular belief</h5>
						<p>Lorem ipsum is simply</p>
					</div>
				</article>
				<article data-filter="ipsum random" data-media="photo" data-url="portfolio/item13.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb13.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Vestibulum ante ipsum</h5>
						<p>Nam venenatis vulputate</p>
					</div>
				</article>
				
				<article data-filter="ipsum lorem" data-media="photo" data-url="portfolio/item10.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb10.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Curabitur non metus</h5>
						<p>Fusce luctus tincidunt turpis</p>
					</div>
				</article>
				<article data-filter="lorem random" data-media="photo" data-url="portfolio/item1.html">
					<div class="preview">
						<img alt="" src="images/portfolio/image-thumb1.jpg">
					</div>
					<div class="info-hover">
						<i class="icon-photo"></i>
						<h5>Vestibulum ante ipsum</h5>
						<p>Nam venenatis vulputate</p>
					</div>
				</article>
			</div>
		</section> -->

		<section class="custom" data-name="app" data-background="images/background1.jpg">
			<div class="section-header">
				<h4>Get our mobile app today for free</h4>
				<div class="separator-diamond"></div>
				<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eieeusmod tempor ut enim adipisicing ut enim ad eminim veniam, quis nostrud exercitation</p>
			</div>
			<div class="devices-block">
				<div class="devices-item">
					<div class="devices-image ipad-frame animation-fadedown">
						<img alt="" src="images/ipad-image.jpg">
					</div>
					<div class="devices-list animation-list-outofscreen" data-animation-delay="500">
						<article>
							<div class="round-icon">
								<i class="pe-7f-eyedropper"></i>
							</div>
							<h4>Styles constructor</h4>
							<p class="text">Better to be called something positive and inspirational than negative</p>
						</article>
						<div class="devices-dot medium"></div>
						<article>
							<div class="round-icon">
								<i class="pe-7f-paint-bucket"></i>
							</div>
							<h4>Unlimited colors</h4>
							<p class="text">The flow of Guiness into the studio was inspirational as well as nutritive</p>
						</article>
						<div class="devices-dot short"></div>
						<article>
							<div class="round-icon">
								<i class="pe-7f-bell"></i>
							</div>
							<h4>Retina-display ready</h4>
							<p class="text">Sport is something that is very inspirational for young people</p>
						</article>
					</div>
				</div>

				<div class="devices-item reversed overlap">
					<div class="devices-image iphone-frame animation-fadedown" data-animation-delay="300">
						<img alt="" src="images/iphone-image.jpg">
					</div>

					<div class="devices-list animation-list-outofscreen" data-animation-delay="500">
						<article>
							<div class="round-icon">
								<i class="pe-7f-target"></i>
							</div>
							<h4>Complete solution</h4>
							<p class="text">Deacon Jones has been the most inspirational person in my football career</p>
						</article>
						<article>
							<div class="round-icon">
								<i class="pe-7f-hourglass"></i>
							</div>
							<h4>Good performance</h4>
							<p class="text">Benazir Bhutto was an inspirational leader and an inspirational woman</p>
						</article>
						<div class="devices-dot short"></div>
						<article>
							<div class="round-icon">
								<i class="pe-7f-umbrella"></i>
							</div>
							<h4>Modern design</h4>
							<p class="text">Books are challenging and inspirational to me</p>
						</article>
					</div>
				</div>
			</div>
		</section>

		<section class="parallax-block">
			<canvas class="parallax-item" data-src="images/parallax1.jpg" data-crop-position="0 -0.78"></canvas>
			<div class="quotes-rotator">
				<div class="circular-icon">
					<i class="icon-quote"></i>
				</div>
				<h3>Follow your dreams</h3>

				<hr class="separator">
				<div class="quotes">
					<article>I think that's a great opportunity, to pick a script where you can build up a good skill. I think the main thing I look for when I look at scripts is if it's inspirational. If it's something that teenagers can relate to. And is it something that the audience is going to get something out of. If not, then it's really not worth doing</article>
					<article>By now, you've probably caught on to something: my mother is always standing by with just the right Scripture or inspirational saying to get me through any tough situation</article>
					<article>My father, Oliver Hynes, was an educator. He was originally just a teacher, a very good one, but then he was promoted to be in charge of education for the entire area. He was always an inspirational teacher. He was my big personal supporter, always coming here for the Tony Awards. My mother, Carmel, was a homemaker</article>
					<article>I think the end goal, hopefully, is to take advantage of the attention I've gotten along the way and use it for good and build some communities, and as I get older I can continue to do things and be surrounded by things that are inspirational to me</article>
					<article>We all obviously need others to look up to, and be inspirational to us. Ford did a great job as far as putting the presidency back where it belonged, getting the trust back after Nixon. And President Reagan has been one of the most influential presidents</article>
				</div>
				<hr class="separator separator-bottom">

				<div class="arrow-prev"></div><div class="arrow-next"></div>
				<div class="togglers"></div>
			</div>
		</section>

		<section class="custom" data-name="staff" data-background="images/background3.jpg">
			<div class="section-header">
				<h4>Meet the people who make an awesome stuff</h4>
				<div class="separator-diamond"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eieeusmod tempor ut enim ad eminim veniam, quis nostrud exercitation</p>
			</div>

			<div class="persons-block animation-fadedown">
				<article data-url="staff/person0.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb0.jpg">
					</div>
					<div class="info">
						<h5>Wendell Clark</h5>
						<p class="caption">Principal designer</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person1.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb1.jpg">
					</div>
					<div class="info">
						<h5>Angelina Webb</h5>
						<p class="caption">Product tester</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person2.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb2.jpg">
					</div>
					<div class="info">
						<h5>Kim Reyes</h5>
						<p class="caption">Technical support</p>
					</div>
					<div class="info-hover">
						<p class="text">Lorem Ipsum is not simply random text. It has roots</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person3.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb3.jpg">
					</div>
					<div class="info">
						<h5>Theresa Davis</h5>
						<p class="caption">Technical support</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>

				<!-- <article data-url="staff/person4.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb4.jpg">
					</div>
					<div class="info">
						<h5>Benjamin Davis</h5>
						<p class="caption">Project manager</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person5.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb5.jpg">
					</div>
					<div class="info">
						<h5>Sammy Griffin</h5>
						<p class="caption">Lead Developer</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person1.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb1.jpg">
					</div>
					<div class="info">
						<h5>Angelina Webb</h5>
						<p class="caption">Product tester</p>
					</div>
					<div class="info-hover">
						<p class="text">Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person2.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb2.jpg">
					</div>
					<div class="info">
						<h5>Kim Reyes</h5>
						<p class="caption">Technical support</p>
					</div>
					<div class="info-hover">
						<p class="text">Donec sit amet felis quam. Vestibulum sed odio</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>

				<article data-url="staff/person3.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb3.jpg">
					</div>
					<div class="info">
						<h5>Theresa Davis</h5>
						<p class="caption">Technical support</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person4.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb4.jpg">
					</div>
					<div class="info">
						<h5>Benjamin Davis</h5>
						<p class="caption">Project manager</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person0.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb0.jpg">
					</div>
					<div class="info">
						<h5>Wendell Clark</h5>
						<p class="caption">Principal designer</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article>
				<article data-url="staff/person1.html">
					<div class="preview">
						<img alt="" src="images/staff/image-thumb1.jpg">
					</div>
					<div class="info">
						<h5>Angelina Webb</h5>
						<p class="caption">Product tester</p>
					</div>
					<div class="info-hover">
						<p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin</p>
						<div class="social-media">
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-github"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="">
								<i class="fa fa-openid"></i>
							</a>
							<a href="">
								<i class="fa fa-html5"></i>
							</a>
						</div>
					</div>
				</article> -->
				
				<div class="togglers"></div>
			</div>
		</section>

		<section class="separator-stripe">
			<div class="client-block">
				<a href="http://google.com">
					<img alt="" src="images/clients/mulch.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/wenec.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/lv.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/fender.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/afc.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/bim.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/wacoal.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/franks.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/vrp.png">
				</a>

				<a href="http://google.com">
					<img alt="" src="images/clients/bim.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/wacoal.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/afc.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/mulch.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/wenec.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/lv.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/fender.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/franks.png">
				</a>
				<a href="http://google.com">
					<img alt="" src="images/clients/vrp.png">
				</a>
			</div>
		</section>

		<section class="custom" data-background="images/background2.jpg">
			<div class="section-header">
				<h4>The only journey is the one within</h4>
				<div class="separator-diamond"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eieeusmod tempor</p>
			</div>

			<div class="content-block flex-blocks">
				<article class="block-350">
					<h5>The books <mark>that help you</mark></h5>
					<p class="text">The meaning I picked, the one that changed my life: overcome fear, behold wonder.</p>
					<p class="text">Architecture is not an inspirational business, it's a rational procedure to do sensible and hopefully beautiful things; that's all.</p>
					<p class="text">Growing up, in church we had the homily; at home it's what I call the 'momily' - the inspirational and instructive mom-isms that every family has.</p>
				</article>
				<article class="block-350">
					<h5>The essential <mark>elements</mark></h5>
					<p class="text">Your ordinary acts of love and hope point to the extraordinary promise that every human life is of inestimable value.</p>
					<p class="text">'Star Wars' is fun, its exciting, its inspirational, and people respond to that. It's what they want.</p>
					<p class="text">This is just rap. I'm not trying to make people think I'm some sort of scientific wizard or inspirational poet.</p>
				</article>
				<article class="block-rest">
					<h5><mark>The skills</mark> we have</h5>
					<div class="skills-block animation-skills">
						<article data-percent="90">
							<p class="title">Photoshop</p>
						</article>
						<article data-percent="50">
							<p class="title">Microsoft Paint</p>
						</article>
						<article data-percent="63">
							<p class="title">Sublime Text</p>
						</article>
						<article data-percent="70">
							<p class="title">Photoshop</p>
						</article>
					</div>
				</article>
			</div>
		</section>

		<section class="parallax-block" data-name="stats">
			<canvas class="parallax-item" data-src="images/main10.jpg" data-crop-position="0.45 -0.7"></canvas>
			<div class="stats-block">
				<article>
					<p class="number">810</p>
					<p class="kind">Hours of work</p>
					<h5>Months <mark>spended</mark></h5>
					<p class="text">There is nothing stronger in the world than gentleness</p>
				</article>
				<article>
					<p class="number">120</p>
					<p class="kind">Happy clients</p>
					<h5>Satisfied <mark>clients</mark></h5>
					<p class="text">Lord, grant that I may always desire more than I can accomplish</p>
				</article>
				<article>
					<p class="number">552</p>
					<p class="kind">Followers</p>
					<h5>Check <mark>our twitter</mark></h5>
					<p class="text">Give light, and the darkness will disappear of itself</p>
				</article>
				<article>
					<p class="number">245</p>
					<p class="kind">Projects done</p>
					<h5><mark>Impressive</mark> skill</h5>
					<p class="text">Love the moment and the energy of that moment will spread beyond all boundaries</p>
				</article>
				<article>
					<p class="number">345</p>
					<p class="kind">Lorem Ipsum</p>
					<h5>Lorem <mark>denouns</mark></h5>
					<p class="text">Your big opportunity may be right where you are now</p>
				</article>
				<article>
					<p class="number">7610</p>
					<p class="kind">Strings of code</p>
					<h5>A <mark>massive</mark> work</h5>
					<p class="text">I arise full of eagerness and energy, knowing well what achievement lies ahead of me</p>
				</article>
				<article>
					<p class="number">290</p>
					<p class="kind">Cups of coffee</p>
					<h5>Just a <mark>statistics</mark></h5>
					<p class="text">We relish news of our heroes, forgetting that we are extra ordinary to somebody too</p>
				</article>
				<article>
					<p class="number">386</p>
					<p class="kind">Blueprints</p>
					<h5>Generated <mark>ideas</mark></h5>
					<p class="text">Hope is some spiritual grace that God gives us to control our fears, not to oust them</p>
				</article>
			</div>
		</section>

		<section class="custom" data-name="posts" data-background="images/background4.jpg">
			<div class="section-header">
				<h4>You change your life by changing your heart</h4>
				<div class="separator-diamond"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eieeusmod tempor ut enim ad eminim veniam, quis nostrud exercitation</p>
			</div>

			<div class="posts-block animation-fadedown">
				<article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post0.jpg">
					</div>
					<h5>There are <mark>variations</mark></h5>
					<p class="text">There is a loftier ambition than merely to stand high in the world. It is to stoop down and lift mankind a little higher</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>Christian Joseph</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>132</span>
						</li>
					</ul>
				</article>
				<article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post1.jpg">
					</div>
					<h5><mark>Aliquam</mark> eu ante</h5>
					<p class="text">Do your little bit of good where you are; its those little bits of good put together that overwhelm the world</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>Christian Joseph</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>76</span>
						</li>
					</ul>
				</article>
				<article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post2.jpg">
					</div>
					<h5>Pellentesque <mark>vitae justo</mark></h5>
					<p class="text">All you need is the plan, the road map, and the courage to press on to your destination</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>John Smith</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Notes</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>164</span>
						</li>
					</ul>
				</article>
				<article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post3.jpg">
					</div>
					<h5>There are <mark>variations</mark></h5>
					<p class="text">Every moment and every event of every man's life on earth plants something in his soul</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>Christian Joseph</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>32</span>
						</li>
					</ul>
				</article>

				<!-- <article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post4.jpg">
					</div>
					<h5>Suspendisse <mark>nulla</mark></h5>
					<p class="text">Your present circumstances do not determine where you can go; they merely determine where you start</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>Christian Joseph</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Notes</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>132</span>
						</li>
					</ul>
				</article>
				<article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post5.jpg">
					</div>
					<h5><mark>Aenean at</mark> purus</h5>
					<p class="text">Look within. Within is the fountain of good, and it will ever bubble up, if thou wilt ever dig</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>Christian Joseph</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>12</span>
						</li>
					</ul>
				</article>
				<article>
					<div class="preview">
						<a href="blog-single.html">Read more</a>
						<img alt="" src="images/posts/post0.jpg">
					</div>
					<h5>There are <mark>variations</mark></h5>
					<p class="text">Joy descends gently upon us like the evening dew, and does not patter down like a hailstorm</p>
					<ul class="posts-block-details">
						<li>
							<i class="icon-author"></i> By: <span>Christian Joseph</span>
						</li>
						<li>
							<i class="icon-category"></i> Category: <span>Last news</span>
						</li>
						<li>
							<i class="icon-comments"></i> Comments: <span>75</span>
						</li>
					</ul>
				</article> -->
			</div>
		</section>

		<section class="separator-stripe">
			<div class="separator-header">
				<div class="aside-buttons">
					<a class="button">Purchase</a>
					<a class="button">Bookmark</a>
				</div>
				<h4>Do not miss our <mark>special offer</mark></h4>
				<p class="text">Follow your bliss and the universe will open doors where there were only walls</p>
			</div>
		</section>

		<!-- <section class="contacts-block" data-name="contacts">
			<div class="google-maps parallax-item no-fading" data-coords="38.575615,-121.484763"></div>
			<div class="contacts-form animation-contacts" data-subject="Contact form">
				<div class="small-circular-icon">
					<i class="icon-letter"></i>
				</div>
				<h4>Contact us</h4>
				<p class="text">Simply left any message for us. We will contact you as soon as possible</p>
				<input name="name" placeholder="Name:" data-hint="Please, type your name" required>
				<input name="phone" placeholder="Phone:" data-hint="Let us know your phone number">
				<textarea name="message" placeholder="Message:" data-hint="Describe the point of treatment" required></textarea>
				<a class="button cancel">Cancel</a>
				<a class="button submit">Send</a>
			</div>
		</section> -->

		<section class="footer-block">
			<div class="content grid-width">
				<div class="column">
					<h4>About company</h4>
					<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.<br><br>Text ever since the 1500s, when an unknown printer took a galley of type.</p>
					<a href="">Read More...</a>
					<div class="social-media">
						<a href="">
							<i class="fa fa-pinterest"></i>
						</a>
						<a href="">
							<i class="fa fa-github"></i>
						</a>
						<a href="">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="">
							<i class="fa fa-youtube"></i>
						</a>
						<a href="">
							<i class="fa fa-openid"></i>
						</a>
						<a href="">
							<i class="fa fa-html5"></i>
						</a>
						<a href="">
							<i class="fa fa-jsfiddle"></i>
						</a>
					</div>
				</div>
				<div class="column">
					<h4>Latest posts</h4>
					<div class="list-footer">
						<article>
							<a href="http://google.com/">With self-discipline most anything is possible</a>
						</article>
						<article>
							<a href="http://google.com/">Live your beliefs and you can turn the world around</a>
						</article>
						<article>
							<a href="http://google.com/">Whoever is happy will make others happy too</a>
						</article>
						<article>
							<a href="http://google.com/">We can't help everyone, but everyone can help someone</a>
						</article>
					</div>
				</div>
				<div class="column gallery-column">
					<h4>Best photos</h4>
					<div class="gallery-footer">
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image0.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image1.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image2.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image3.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image4.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image5.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image6.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image7.jpg"></a>
						<a href="" class="photo-enlarge"><img alt="" src="images/footer/image8.jpg"></a>
					</div>
				</div>
				<div class="column">
					<h4>Contact us</h4>
					<div class="list-footer">
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/location.png" height="19" width="16">
							Building 83 2010 NE 32th Street Redmond, WA 54052
						</article>
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/phone.png" height="20" width="18">
							<a href="tel:1-888-7962368">1-888-796-2368</a>
							<a href="tel:1-888-1275252">1-888-127-5252</a>
						</article>
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/mail.png" height="13" width="18">
							<a href="mailto:support@company.com">support@company.com</a>
							<a href="mailto:company.name@gmail.com">company.name@gmail.com</a>
						</article>
						<article>
							<img alt="" class="list-bullet @2x-available" src="images/footer-icons/community.png" height="19" width="16">
							Sofa audiam urbanitas, facilisis constituam 8:00 am - 21:00 pm
						</article>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="content grid-width">
				<div class="footer-links">
					<a href="#slider">Main</a>
					<a href="#features">Features</a>
					<a href="#portfolio">Portfolio</a>
					<a href="#app">App</a>
					<a href="#stats">Stats</a>
					<a href="#posts">Posts</a>
					<a href="blog-posts.html">Blog</a>
				</div>
				<p>Copyright © 2016 Lumejio Team</p>
			</div>
		</footer>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="scripts/core.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
	<script src="//a.vimeocdn.com/js/froogaloop2.min.js"></script>
</body>
</html>